<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795680445511-qfgjne1sef0dkis20c450c2cfge96l6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795680445511-qfgjne1sef0dkis20c450c2cfge96l6e</string>
	<key>API_KEY</key>
	<string>AIzaSyDDxzcWWMXZXm7mHkn2o1PjVXwMMLS1GwM</string>
	<key>GCM_SENDER_ID</key>
	<string>795680445511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.gutovsky.texel.chat</string>
	<key>PROJECT_ID</key>
	<string>texel-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>texel-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795680445511:ios:91f69ba263b936a223cd62</string>
</dict>
</plist>